<!-- Card 1 -->
<div class="col-span-full sm:col-span-6 xl:col-span-3 bg-white shadow-lg rounded-sm border border-gray-200 overflow-hidden">
    <div class="flex flex-col h-full">
        <!-- Image -->
        <img class="w-full" src="../images/applications-image-05.jpg" width="286" height="160" alt="Application 05" />
        <!-- Card Content -->
        <div class="flex-grow flex flex-col p-5">
            <!-- Card body -->
            <div class="flex-grow">
                <!-- Header -->
                <header class="mb-2">
                    <h3 class="text-lg text-gray-800 font-semibold mb-1">Form Builder CP</h3>
                    <div class="text-sm">Master Digital Marketing Strategy, Social Media Marketing, Analytics & More!</div>
                </header>
                <!-- Price -->
                <div class="flex items-center space-x-2 mb-4">
                    <div class="inline-flex text-sm font-medium bg-green-100 text-green-600 rounded-full text-center px-2.5 py-0.5">$89.00</div>
                    <div class="inline-flex text-sm font-medium text-gray-500 line-through">$199.00</div>
                </div>
            </div>
            <!-- Card footer -->
            <div>
                <a class="btn-sm w-full bg-indigo-500 hover:bg-indigo-600 text-white" href="#0">Buy Now</a>
            </div>
        </div>
    </div>
</div>

<!-- Card 2 -->
<div class="col-span-full sm:col-span-6 xl:col-span-3 bg-white shadow-lg rounded-sm border border-gray-200 overflow-hidden">
    <div class="flex flex-col h-full">
        <!-- Image -->
        <img class="w-full" src="../images/applications-image-06.jpg" width="286" height="160" alt="Application 06" />
        <!-- Card Content -->
        <div class="flex-grow flex flex-col p-5">
            <!-- Card body -->
            <div class="flex-grow">
                <!-- Header -->
                <header class="mb-2">
                    <h3 class="text-lg text-gray-800 font-semibold mb-1">Form Builder CP</h3>
                    <div class="text-sm">Master Digital Marketing Strategy, Social Media Marketing, Analytics & More!</div>
                </header>
                <!-- Price -->
                <div class="flex items-center space-x-2 mb-4">
                    <div class="inline-flex text-sm font-medium bg-green-100 text-green-600 rounded-full text-center px-2.5 py-0.5">$89.00</div>
                    <div class="inline-flex text-sm font-medium text-gray-500 line-through">$199.00</div>
                </div>
            </div>
            <!-- Card footer -->
            <div>
                <a class="btn-sm w-full bg-indigo-500 hover:bg-indigo-600 text-white" href="#0">Buy Now</a>
            </div>
        </div>
    </div>
</div>

<!-- Card 3 -->
<div class="col-span-full sm:col-span-6 xl:col-span-3 bg-white shadow-lg rounded-sm border border-gray-200 overflow-hidden">
    <div class="flex flex-col h-full">
        <!-- Image -->
        <img class="w-full" src="../images/applications-image-07.jpg" width="286" height="160" alt="Application 07" />
        <!-- Card Content -->
        <div class="flex-grow flex flex-col p-5">
            <!-- Card body -->
            <div class="flex-grow">
                <!-- Header -->
                <header class="mb-2">
                    <h3 class="text-lg text-gray-800 font-semibold mb-1">Form Builder CP</h3>
                    <div class="text-sm">Master Digital Marketing Strategy, Social Media Marketing, Analytics & More!</div>
                </header>
                <!-- Price -->
                <div class="flex items-center space-x-2 mb-4">
                    <div class="inline-flex text-sm font-medium bg-green-100 text-green-600 rounded-full text-center px-2.5 py-0.5">$89.00</div>
                    <div class="inline-flex text-sm font-medium text-gray-500 line-through">$199.00</div>
                </div>
            </div>
            <!-- Card footer -->
            <div>
                <a class="btn-sm w-full bg-indigo-500 hover:bg-indigo-600 text-white" href="#0">Buy Now</a>
            </div>
        </div>
    </div>
</div>

<!-- Card 4 -->
<div class="col-span-full sm:col-span-6 xl:col-span-3 bg-white shadow-lg rounded-sm border border-gray-200 overflow-hidden">
    <div class="flex flex-col h-full">
        <!-- Image -->
        <img class="w-full" src="../images/applications-image-08.jpg" width="286" height="160" alt="Application 08" />
        <!-- Card Content -->
        <div class="flex-grow flex flex-col p-5">
            <!-- Card body -->
            <div class="flex-grow">
                <!-- Header -->
                <header class="mb-2">
                    <h3 class="text-lg text-gray-800 font-semibold mb-1">Form Builder CP</h3>
                    <div class="text-sm">Master Digital Marketing Strategy, Social Media Marketing, Analytics & More!</div>
                </header>
                <!-- Price -->
                <div class="flex items-center space-x-2 mb-4">
                    <div class="inline-flex text-sm font-medium bg-green-100 text-green-600 rounded-full text-center px-2.5 py-0.5">$89.00</div>
                    <div class="inline-flex text-sm font-medium text-gray-500 line-through">$199.00</div>
                </div>
            </div>
            <!-- Card footer -->
            <div>
                <a class="btn-sm w-full bg-indigo-500 hover:bg-indigo-600 text-white" href="#0">Buy Now</a>
            </div>
        </div>
    </div>
</div>